.navbar-brand.logo{
    @include iphone{
        margin-left: 100px;
    }
}
.navbar-brand.cart{
    
    @include mac{
        display: none;
    }
    @include ipad{
        display: none;
    }
    @include iphone{
        display: block;
        
    }
}
.nav-item{
    img{
        @include iphone{
            display: none;
        }
    }
}





.col-lg-12.col-md-12.col-sm-12{
    z-index: -100;
   
}

.row_green_bg{
    margin-top: -30px;
    
}

.green_bg{
    border: solid 1px black;
    background-color: red;
    width: 260px;
    height: 256px;
    position: relative;
    z-index: 500;
    img{
        position: absolute;
        z-index: -500;
    }
    
    h3{
        width: 20px;
        margin: 0 auto;
        margin-top: -150px;
        font-size: 20px;
    }
    p{
        margin-top: 20px;
    }
}



#dessert_intro_page1{
    .container-fluid.page1{
        margin-top: 100px;
        .row_intro{
            height: 420px;
            margin-top: 200px;
            position: relative;
            background-color:#EAF0ED;
            z-index: -100;
           
            
                p{
                    @include p_font;
                    writing-mode: vertical-rl;
    
                }
                
               img{
                margin-top: -30px;
               }

            
            
        }
     
    }
    
   
}




.row.justify-content-center{
   margin: 50px 0;
    .col-lg-3 .col-md-3 .col-sm-12{
        position: relative;
    }
}
.daily_select{
    @include daily_select;
    
}

.name_price{
    display:flex;
    justify-content: center;
   
    line-height: 50px;
   
}
.name_product{
    @include name_product;
}
.price_product{
    font-weight: bold;
    @include name_product;
   
}
button.btn-lg{
    border-radius: 0px;
    background-color: $dessert_intro;
    border: solid 1px $dessert_intro;
    width: 100%;
    height: 50px;
    color: $topic;
    font-weight: bold;
}

.navbar-brand{
    display:flex;
    margin-left: 150px;
    img{
        @include iphone{
            margin-left: -80px;
            margin-bottom: 10px;
        }
    }
    p{
        margin-top: 15px;
        margin-left: 10px;
        color: white;
    }
}
button{
    width: 100%;
    display: flex;
   
    .arrow{
        background-color: #FFE180;
        border:solid 1px #FFE180;
        padding: 0px 18px;
        
        margin-left: 60%
    }
}
.d-flex{
    @include iphone{
        margin: 0 auto;
    }
    a{
       
        img{
            margin-left: 200px;
            background-color: #FFE180;
        }
    }
}

.row.row_footer{
   background-color: #EAF0ED;
    .col-lg-6.col-sm-6{
        img{
            margin-top: 20px;
            @include iphone{
                margin-top: 10px;
            }
        }
        p{
            margin-top: 80px;
            line-height: 30px;
            color: $topic;
            @include iphone{
                margin-top: 50px;
            }
        }
        
    
    }
    .col-lg-4.col-sm-4{
        margin-bottom: 30px;
        @include iphone{
            margin-top: 10px;
        }
        img{
           padding: 20px;
           @include iphone{
            display: none;
           }
        }
    }
   
}

