@mixin p_font{
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 16px;
    color:#8DA291;
    line-height: 70px;
    
}


@mixin daily_select{
    position: absolute;
    background-color: $topic;
    color:#EAF0ED;
    width: 30px;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    
}
@mixin name_product{
    border: 1px solid #EAF0ED; 
    width: 50%;
    text-align: center;
    color: $topic;
}




@mixin mac{
    @media all and (max-width:1600px){
        @content;
    }
}
@mixin ipad{
    @media all and (max-width:768px){
        @content;
    }
}

@mixin iphone{
    @media all and (max-width:767px){
        @content;
    }
}