/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (max-width: 767px) {
  .navbar-brand.logo {
    margin-left: 100px;
  }
}

@media all and (max-width: 1600px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .navbar-brand.cart {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .nav-item img {
    display: none;
  }
}

.col-lg-12.col-md-12.col-sm-12 {
  z-index: -100;
}

.row_green_bg {
  margin-top: -30px;
}

.green_bg {
  border: solid 1px black;
  background-color: red;
  width: 260px;
  height: 256px;
  position: relative;
  z-index: 500;
}
.green_bg img {
  position: absolute;
  z-index: -500;
}
.green_bg h3 {
  width: 20px;
  margin: 0 auto;
  margin-top: -150px;
  font-size: 20px;
}
.green_bg p {
  margin-top: 20px;
}

#dessert_intro_page1 .container-fluid.page1 {
  margin-top: 100px;
}
#dessert_intro_page1 .container-fluid.page1 .row_intro {
  height: 420px;
  margin-top: 200px;
  position: relative;
  background-color: #EAF0ED;
  z-index: -100;
}
#dessert_intro_page1 .container-fluid.page1 .row_intro p {
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 16px;
  color: #8DA291;
  line-height: 70px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
#dessert_intro_page1 .container-fluid.page1 .row_intro img {
  margin-top: -30px;
}

.row.justify-content-center {
  margin: 50px 0;
}
.row.justify-content-center .col-lg-3 .col-md-3 .col-sm-12 {
  position: relative;
}

.daily_select {
  position: absolute;
  background-color: #3F5D45;
  color: #EAF0ED;
  width: 30px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
}

.name_price {
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.name_product {
  border: 1px solid #EAF0ED;
  width: 50%;
  text-align: center;
  color: #3F5D45;
}

.price_product {
  font-weight: bold;
  border: 1px solid #EAF0ED;
  width: 50%;
  text-align: center;
  color: #3F5D45;
}

button.btn-lg {
  border-radius: 0px;
  background-color: #EAF0ED;
  border: solid 1px #EAF0ED;
  width: 100%;
  height: 50px;
  color: #3F5D45;
  font-weight: bold;
}

.navbar-brand {
  display: flex;
  margin-left: 150px;
}
@media all and (max-width: 767px) {
  .navbar-brand img {
    margin-left: -80px;
    margin-bottom: 10px;
  }
}
.navbar-brand p {
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

button {
  width: 100%;
  display: flex;
}
button .arrow {
  background-color: #FFE180;
  border: solid 1px #FFE180;
  padding: 0px 18px;
  margin-left: 60%;
}

@media all and (max-width: 767px) {
  .d-flex {
    margin: 0 auto;
  }
}
.d-flex a img {
  margin-left: 200px;
  background-color: #FFE180;
}

.row.row_footer {
  background-color: #EAF0ED;
}
.row.row_footer .col-lg-6.col-sm-6 img {
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 img {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-6.col-sm-6 p {
  margin-top: 80px;
  line-height: 30px;
  color: #3F5D45;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 p {
    margin-top: 50px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 img {
  padding: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 img {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */