/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav.navbar.navbar-expand-sm.navbar-light {
  flex-wrap: nowrap;
}
@media all and (max-width: 1600px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row;
  }
}
@media all and (max-width: 767px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row-reverse;
  }
}

.navbar-brand.logo {
  margin-top: 10px;
}
@media all and (max-width: 767px) {
  .navbar-brand.logo {
    margin-left: 100px;
  }
}

.navbar-brand.cart {
  margin-top: 10px;
}
@media all and (max-width: 1600px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .navbar-brand.cart {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .nav-item img {
    display: none;
  }
}

.sign {
  background-color: #3F5D45;
}
.sign h1 {
  font-size: 28px;
  text-align: center;
  padding: 30px 0px;
  color: #EAF0ED;
}
.sign .input-group.mb-3 {
  width: 70%;
  display: flex;
  background-color: #EAF0ED;
  margin: 0 auto;
}
.sign .input-group.mb-3 h4 {
  font-size: 16px;
  color: #8da291;
  padding-left: 50px;
}
.sign .form-check {
  padding-left: 20%;
  padding-bottom: 5px;
}
.sign .form-check label {
  margin-top: 5px;
}

.signin {
  margin-top: -2px;
}
.signin a {
  text-decoration: none;
}
.signin h2 {
  font-size: 24px;
  background-color: #ffe180;
  text-align: center;
  color: #3f5d45;
  padding: 20px;
  margin-bottom: 50px;
}

.col-lg-4.connect {
  margin-top: 10px;
  background-color: #EAF0ED;
  margin-left: -12px;
  height: 240px;
}
.col-lg-4.connect h3 {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  color: #8da291;
}
.col-lg-4.connect .social_media {
  margin: 20px;
  margin-left: 50px;
  background-color: #fff;
  width: 80%;
  height: 35px;
  padding: 10px;
}
.col-lg-4.connect .social_media img {
  padding-left: 30%;
}

@media all and (max-width: 767px) {
  .contaniner.lg {
    display: none;
  }
}

@media all and (max-width: 1600px) {
  .container-fluid.sm .row {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .container-fluid.sm .row {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .container-fluid.sm .row {
    display: flex;
  }
}
.container-fluid.sm .row .col-sm-12 {
  background-color: #3F5D45;
  padding: 20px;
}
.container-fluid.sm .row .col-sm-12 h1 {
  font-size: 28px;
  color: #eaf0ed;
  text-align: center;
}
.container-fluid.sm .row.justify-content-center .col-sm-12.media {
  display: flex;
  background-color: #EAF0ED;
  justify-content: center;
}
.container-fluid.sm .row.justify-content-center .col-sm-12.media .social_media {
  background-color: #ffffff;
  border: solid 1px white;
  padding: 10px;
  padding-top: 20px;
  margin-left: 5px;
}

.row.g-0 {
  font-size: 24px;
  background-color: #ffe180;
  text-align: center;
  color: #3f5d45;
  padding: 20px;
}
@media all and (max-width: 1600px) {
  .row.g-0 {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .row.g-0 {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .row.g-0 {
    display: block;
  }
}
.row.g-0 a {
  text-decoration: none;
  font-size: 28px;
  color: #3F5D45;
  text-align: center;
}

.navbar-brand {
  display: flex;
  margin-left: 150px;
}
@media all and (max-width: 767px) {
  .navbar-brand img {
    margin-left: -50px;
    margin-bottom: 10px;
  }
}
.navbar-brand p {
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

.sent_mail {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #EAF0ED;
  margin: 0px;
  border: 0;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .sent_mail {
    width: 45%;
    margin-left: 150px;
  }
}
.sent_mail .icon_mail {
  margin-left: 5px;
}
.sent_mail .icon_arrow {
  position: absolute;
  background-color: #ffe180;
  border: solid 1px #ffe180;
  width: 35px;
  height: 30px;
  left: 152px;
}
.sent_mail .icon_arrow img {
  margin-left: 5px;
}
@media all and (max-width: 1600px) {
  .sent_mail .icon_arrow {
    left: 250px;
  }
}
@media all and (max-width: 767px) {
  .sent_mail .icon_arrow {
    left: 180px;
  }
}

.row.row_footer {
  background-color: #eaf0ed;
}
.row.row_footer .col-lg-6.col-sm-6 img {
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 img {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-6.col-sm-6 p {
  margin-top: 80px;
  line-height: 30px;
  color: #3F5D45;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 p {
    margin-top: 50px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 img {
  padding: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 img {
    display: none;
  }
}/*# sourceMappingURL=all3.css.map */