/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav.navbar.navbar-expand-sm.navbar-light {
  flex-wrap: nowrap;
}
@media all and (max-width: 1600px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row;
  }
}
@media all and (max-width: 767px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row-reverse;
  }
}

.navbar-brand.logo {
  margin-top: 10px;
}
@media all and (max-width: 767px) {
  .navbar-brand.logo {
    margin-left: 100px;
  }
}

.navbar-brand.cart {
  margin-top: 10px;
}
@media all and (max-width: 1600px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .navbar-brand.cart {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .nav-item img {
    display: none;
  }
}

.list-group {
  text-align: center;
  border-radius: 0px;
  width: 70%;
  margin-top: 10px;
}
@media all and (max-width: 767px) {
  .list-group {
    margin: 30px auto;
  }
}
.list-group .list-group-item.list-group-item-action.title {
  font-size: 20px;
  background-color: #3f5d45;
  border: #3f5d45;
  color: white;
}

.list-group-item.list-group-item-action {
  font-size: 18px;
}
.list-group-item.list-group-item-action:hover {
  color: #3f5d45;
  background-color: #eaf0ed;
  font-weight: bold;
}

.daily_select {
  position: absolute;
  background-color: #3F5D45;
  color: #EAF0ED;
  width: 30px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
}

.name_price {
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.name_product {
  border: 1px solid #EAF0ED;
  width: 50%;
  text-align: center;
  color: #3F5D45;
}

.price_product {
  font-weight: bold;
  border: 1px solid #EAF0ED;
  width: 50%;
  text-align: center;
  color: #3F5D45;
}

button.btn-lg {
  border-radius: 0px;
  background-color: #EAF0ED;
  border: solid 1px #EAF0ED;
  width: 100%;
  height: 50px;
  color: #3F5D45;
  font-weight: bold;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-top: 10px;
}
@media all and (max-width: 767px) {
  button.btn-lg {
    padding: 0px 20px;
  }
}

.pagination.pagination-lg {
  display: flex;
  padding: 10px;
}
@media all and (max-width: 767px) {
  .pagination.pagination-lg {
    margin-left: 80px;
  }
}

.page-item.page a {
  color: #3f5d45;
}
.page-item.page a:hover {
  background-color: #3f5d45;
  color: white;
}

.navbar-brand {
  display: flex;
  margin-left: 150px;
}
@media all and (max-width: 767px) {
  .navbar-brand img {
    margin-left: -50px;
    margin-bottom: 10px;
  }
}
.navbar-brand p {
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

.sent_mail {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #EAF0ED;
  background-color: #EAF0ED;
  margin: 0px;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .sent_mail {
    width: 45%;
    margin-left: 150px;
  }
}
.sent_mail .icon_mail {
  margin-left: 5px;
}
.sent_mail .icon_arrow {
  background-color: #ffe180;
  border: solid 1px #ffe180;
  width: 35px;
  height: 28px;
}
.sent_mail .icon_arrow img {
  margin-left: 5px;
}

.row.row_footer {
  background-color: #eaf0ed;
}
.row.row_footer .col-lg-6.col-sm-6 img {
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 img {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-6.col-sm-6 p {
  margin-top: 80px;
  line-height: 30px;
  color: #3F5D45;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 p {
    margin-top: 50px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 img {
  padding: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 img {
    display: none;
  }
}/*# sourceMappingURL=all2.css.map */