/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav.navbar.navbar-expand-sm.navbar-light {
  flex-wrap: nowrap;
}
@media all and (max-width: 1600px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row;
  }
}
@media all and (max-width: 767px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row-reverse;
  }
}

.navbar-brand.logo {
  margin-top: 10px;
}
@media all and (max-width: 767px) {
  .navbar-brand.logo {
    margin-left: 100px;
  }
}

.navbar-brand.cart {
  margin-top: 10px;
}
@media all and (max-width: 1600px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .navbar-brand.cart {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .nav-item img {
    display: none;
  }
}

.sign {
  background-color: #3F5D45;
  width: 100%;
  height: 450px;
}
.sign h1 {
  font-size: 28px;
  text-align: left;
  padding: 30px 50px;
  color: #EAF0ED;
}
.sign .member_name {
  display: flex;
  margin-left: 50px;
}
.sign .member_name input {
  width: 75%;
  border-radius: 0px;
  margin-bottom: 20px;
}
.sign .member_number {
  margin-left: 50px;
}
.sign .member_number input {
  width: 75%;
  border-radius: 0px;
}
.sign .member_address {
  display: flex;
}
.sign .member_address .form-label {
  margin-right: 0px;
  margin-top: 20px;
  margin-left: 50px;
  width: 50%;
}
.sign .member_address .form-label2 {
  margin-left: 0px;
  margin-top: 35px;
  width: 50%;
}
@media all and (max-width: 767px) {
  .sign .member_address .form-label2 {
    margin-left: -50px;
  }
}
.sign #floatingSelectGrid {
  border-radius: 0px;
  width: 70%;
  margin: 10px 0px;
}
.sign .member_road {
  margin-left: 50px;
}
.sign .member_road input {
  width: 90%;
  border-radius: 0px;
}
.sign label {
  color: #EAF0ED;
}
.sign ::-moz-placeholder {
  background-color: #EAF0ED;
  color: #8DA291;
}
.sign :-ms-input-placeholder {
  background-color: #EAF0ED;
  color: #8DA291;
}
.sign select, .sign input, .sign ::placeholder {
  background-color: #EAF0ED;
  color: #8DA291;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title .circle {
  display: flex;
  margin: 20px;
  margin-top: 30px;
}
.title .circle .circle_frame {
  border: solid 1px #FFFFFF;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.title .circle .circle_in {
  border: solid 6px white;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 3px;
  cursor: pointer;
}
.title .line {
  border: solid 1px #FFFFFF;
  width: 80px;
  height: 0px;
  margin-top: 10px;
}

.next_step {
  margin-bottom: 50px;
}
.next_step a {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  .next_step {
    margin-bottom: 0px;
  }
}
.next_step h2 {
  font-size: 24px;
  background-color: #FFE180;
  text-align: center;
  color: #3F5D45;
  padding: 20px;
}

@media all and (max-width: 767px) {
  .col-lg-3 {
    display: none;
  }
}

.order_total {
  border-left: solid 1px #EAF0ED;
  border-bottom: solid 1px #EAF0ED;
  border-right: solid 1px #EAF0ED;
  margin-left: 30px;
}
.order_total h1 {
  font-size: 24px;
  text-align: center;
  background-color: #EAF0ED;
  color: #8DA291;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.order_total p {
  color: #8DA291;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.order_total span {
  margin-left: 150px;
}
.order_total .total p {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
.order_total .total p span {
  margin-left: 120px;
}

.order_list {
  border-left: solid 1px #EAF0ED;
  border-bottom: solid 1px #EAF0ED;
  border-right: solid 1px #EAF0ED;
  margin-left: 30px;
  margin-top: 20px;
}
.order_list h1 {
  font-size: 24px;
  text-align: center;
  background-color: #EAF0ED;
  color: #8DA291;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.order_list .list {
  display: flex;
  margin: 10px;
}
.order_list .product_text {
  margin-left: 10px;
}
.order_list .product_text p {
  color: #8DA291;
  font-size: 14px;
  margin-top: 20px;
}
.order_list .product_text h3 {
  color: #8DA291;
  font-weight: bold;
  margin-top: 10px;
}

.navbar-brand {
  display: flex;
  margin-left: 150px;
}
@media all and (max-width: 767px) {
  .navbar-brand img {
    margin-left: -50px;
    margin-bottom: 10px;
  }
}
.navbar-brand p {
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

.sent_mail {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #EAF0ED;
  background-color: #EAF0ED;
  margin: 0px;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .sent_mail {
    width: 45%;
    margin-left: 150px;
  }
}
.sent_mail .icon_mail {
  margin-left: 5px;
}
.sent_mail .icon_arrow {
  background-color: #FFE180;
  border: solid 1px #FFE180;
  width: 35px;
  height: 28px;
}
.sent_mail .icon_arrow img {
  margin-left: 5px;
}

.row.row_footer {
  background-color: #EAF0ED;
}
.row.row_footer .col-lg-6.col-sm-6 img {
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 img {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-6.col-sm-6 p {
  margin-top: 80px;
  line-height: 30px;
  color: #3F5D45;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 p {
    margin-top: 50px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 img {
  padding: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 img {
    display: none;
  }
}/*# sourceMappingURL=all5.css.map */