/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav.navbar.navbar-expand-sm.navbar-light {
  flex-wrap: nowrap;
}
@media all and (max-width: 1600px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row;
  }
}
@media all and (max-width: 767px) {
  nav.navbar.navbar-expand-sm.navbar-light .container-fluid {
    flex-direction: row-reverse;
  }
}

.navbar-brand.logo {
  margin-top: 10px;
}
@media all and (max-width: 767px) {
  .navbar-brand.logo {
    margin-left: 100px;
  }
}

.navbar-brand.cart {
  margin-top: 10px;
}
@media all and (max-width: 1600px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .navbar-brand.cart {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .navbar-brand.cart {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .nav-item img {
    display: none;
  }
}

.row.g-0 .col-lg-12.col-sm-12 {
  position: relative;
  padding-left: 200px;
}
@media all and (max-width: 767px) {
  .row.g-0 .col-lg-12.col-sm-12 {
    padding: 0px;
    margin-bottom: 50px;
  }
}
.row.g-0 .col-lg-12.col-sm-12 img {
  position: relative;
  z-index: -100;
}
@media all and (max-width: 767px) {
  .row.g-0 .col-lg-12.col-sm-12 img {
    width: 100%;
    height: 500px;
  }
}
.row.g-0 .col-lg-12.col-sm-12 .payment_success {
  position: absolute;
  top: 250px;
  left: 600px;
}
@media all and (max-width: 767px) {
  .row.g-0 .col-lg-12.col-sm-12 .payment_success {
    top: -20px;
    left: 150px;
  }
}
.row.g-0 .col-lg-12.col-sm-12 .payment_success .bar_payment img {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.g-0 .col-lg-12.col-sm-12 .payment_success .bar_payment img {
    width: 60%;
  }
}
.row.g-0 .col-lg-12.col-sm-12 .payment_success .bar_font {
  position: absolute;
}
@media all and (max-width: 767px) {
  .row.g-0 .col-lg-12.col-sm-12 .payment_success .bar_font {
    top: 50px;
    left: 20px;
  }
  .row.g-0 .col-lg-12.col-sm-12 .payment_success .bar_font img {
    width: 50%;
  }
}
.row.g-0 .next_step {
  position: absolute;
  width: 25%;
  top: 500px;
  left: 580px;
}
@media all and (max-width: 767px) {
  .row.g-0 .next_step {
    width: 100%;
    top: 590px;
    left: 0px;
  }
}
.row.g-0 .next_step a {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  .row.g-0 .next_step {
    margin-bottom: 0px;
  }
}
.row.g-0 .next_step h2 {
  font-size: 24px;
  background-color: #ffe180;
  text-align: center;
  color: #3f5d45;
  padding: 20px;
}

.navbar-brand {
  display: flex;
  margin-left: 150px;
}
@media all and (max-width: 767px) {
  .navbar-brand img {
    margin-left: -50px;
    margin-bottom: 10px;
  }
}
.navbar-brand p {
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

.sent_mail {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #EAF0ED;
  margin: 0px;
  border: 0;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .sent_mail {
    width: 45%;
    margin-left: 150px;
  }
}
.sent_mail .icon_mail {
  margin-left: 5px;
}
.sent_mail .icon_arrow {
  position: absolute;
  background-color: #ffe180;
  border: solid 1px #ffe180;
  width: 35px;
  height: 30px;
  left: 152px;
}
.sent_mail .icon_arrow img {
  margin-left: 5px;
}
@media all and (max-width: 1600px) {
  .sent_mail .icon_arrow {
    left: 250px;
  }
}
@media all and (max-width: 767px) {
  .sent_mail .icon_arrow {
    left: 180px;
  }
}

.row.row_footer {
  background-color: #eaf0ed;
}
.row.row_footer .col-lg-6.col-sm-6 img {
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 img {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-6.col-sm-6 p {
  margin-top: 80px;
  line-height: 30px;
  color: #3F5D45;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-6.col-sm-6 p {
    margin-top: 50px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 {
  margin-bottom: 30px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 {
    margin-top: 10px;
  }
}
.row.row_footer .col-lg-4.col-sm-4 img {
  padding: 20px;
}
@media all and (max-width: 767px) {
  .row.row_footer .col-lg-4.col-sm-4 img {
    display: none;
  }
}/*# sourceMappingURL=all8.css.map */